**task1**

In [1]:
variable1 = "datascience"
variable2 = "analytics"

print("The value of variable 1 is {} and the value of variable 2 is {}.".format(variable1, variable2))

The value of variable 1 is datascience and the value of variable 2 is analytics.

**task2**

In [4]:
string = "python"
capitalized_string = string.capitalize()
print(capitalized_string)

string = "python tasks"
count = string.count("t")
print(count)

string = "happy day "
replaced_string = string.replace("sad", "day")
print(replaced_string)

Python
2
happy day

**task3**

In [ ]:
month = 7  # august (0-based index)
num_days_in_month = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
num_days = num_days_in_month[month-1]  # Subtract 1 to account for zero-based indexing
print(num_days)

31

task4

In [ ]:
eclipse_dates = ['June 21, 2001', 'December 4, 2002', 'November 23, 2003', 'March 29, 2006', 'August 1, 2008', 'July 22, 2009', 'July 11, 2010', 'November 13, 2012', 'March 20, 2015', 'March 9, 2016']

recent_dates = eclipse_dates[-3:]
print(recent_dates)

['November 13, 2012', 'March 20, 2015', 'March 9, 2016']

**task5**

In [ ]:
students = {
    "student1": {
        "name": "kubra",
        "age": 20,
        "grade": "3rd year",
        "subjects": ["DS", "MAD", "SAD"]
    },
    "student2": {
        "name": "eba",
        "age": 21,
        "grade": "11th",
        "subjects": ["History", "Geography", "French"]
    },
    "student3": {
        "name": "pinto",
        "age": 20,
        "grade": "10th",
        "subjects": ["Art", "Music", "Physical Education"]
    }
}
student1_name = students["student1"]["name"]
print(student1_name)

# Accessing student2's subjects
student2_subjects = students["student2"]["subjects"]
print(student2_subjects)

kubra
['History', 'Geography', 'French']