<a href="https://colab.research.google.com/github/kubra-Ghafoor/DataScience-Analytics/blob/main/lab2(20sw056).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Task_1#
prize = int(input())

if prize >= 1 and prize <= 50:
    print('Congratulations! you won the Wooden rabbit')
elif prize > 50 and prize <= 150:
    print('Oh dear!! No prize')
elif prize > 150 and prize <= 180:
    print('Congratulations! you won the Wafer-thin mint')
elif prize > 180 and prize <= 200:
    print('Congratulations! you won the Penguin')
else:
    print('Wrong input')

45
Congratulations! you won the Wooden rabbit

In [2]:
#Task_2#
answer = 44

guess = int(input("Enter your guess: "))
if guess < answer:
    print("Your guess is too low.")
elif guess > answer:
    print("Your guess is too high.")
else:
    print("Congratulations! Your guess matched!")

Enter your guess: 56
Your guess is too high.

In [3]:
 #Task_3

def calculate_tax(purchase_amount, state):
    # Define tax rates for different states
    tax_rates = {
        'CA': 0.075,
        'MN': 0.095,
        'NY': 0.089
    }

    # Check if the state is in the tax_rates dictionary
    if state in tax_rates:
        tax_rate = tax_rates[state]
        tax_amount = purchase_amount * tax_rate
        total_amount = purchase_amount + tax_amount
        print(f"Purchase amount: ${purchase_amount:.2f}")
        print(f"Tax rate in {state}: {tax_rate * 100:.1f}%")
        print(f"Tax amount: ${tax_amount:.2f}")
        print(f"Total amount after tax: ${total_amount:.2f}")
    else:
        print("Invalid state. Please enter a valid state code (CA, MN, or NY).")

purchase_amount = float(input("Enter the purchase amount: $"))
state = input("Enter your state (CA, MN, or NY): ")

calculate_tax(purchase_amount, state)

Enter the purchase amount: $20
Enter your state (CA, MN, or NY): CA
Purchase amount: $20.00
Tax rate in CA: 7.5%
Tax amount: $1.50
Total amount after tax: $21.50

In [4]:
#Task_4#
my_list = ["ken","saad","swift","taylor","arjun"]

for element in my_list:
    print(element)

ken
saad
swift
taylor
arjun

In [5]:
  #Task_5
# Multiples of 5
for number in range(5, 31, 5):
    print(number)

5
10
15
20
25
30

In [6]:
#Task_6#

names = ["kubra", "areeba", "priyanka", "amna"]

# List comprehension to extract first names in lowercase
first_names = [name.split()[0].lower() for name in names]

# Printing the result
print(first_names)

['kubra', 'areeba', 'priyanka', 'amna']

In [7]:
              #Task_7#
multiples_3 = [3 * i for i in range(1, 21)]
print(multiples_3)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60]

In [8]:
#Task_8#
scores = {"Rick Sanchez": 70, "Morty Smith": 35, "Summer Smith": 82, "Jerry Smith": 23, "Beth Smith": 98}

passed = [name for name, score in scores.items() if score >= 65]

print(passed)

['Rick Sanchez', 'Summer Smith', 'Beth Smith']

In [9]:
#Task_9#
names = ["Ali", "Anas", "ken", "rizen", "Anand"]
heights = [165, 180, 175, 170, 160]

cast = dict(zip(names, heights))

print(cast)

{'Ali': 165, 'Anas': 180, 'ken': 175, 'rizen': 170, 'Anand': 160}

In [10]:
 # Task_10#
cast = {'ken ': 165, 'taylor ': 180, 'talha ': 175, 'Dhani ': 170, 'Amina ': 160}
modified_cast = [name + str(height) for name, height in cast.items()]

print(modified_cast)

['ken 165', 'taylor 180', 'talha 175', 'Dhani 170', 'Amina 160']